
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="@Url.Action("Index3")" enctype="multipart/form-data">
        <input type="file" name="name" value="" />
        <button type="submit">TTTT</button>
    </form>
</body>
</html>
